<div class="row">
    <div class="content">
        <form action="interface/upload.php" method="post" enctype="multipart/form-data">
            <div class="form-group col-sm-6">
                <label>上传GeoJSON</label><br>
                <my-select-btn filetype="geo">
                    <span class='glyphicon glyphicon-folder-open'></span> <span>&nbsp;&nbsp;.json文件</span>
                    <input name='geo' id="geo" type='file' style='display:none' class='openfile'/>
                </my-select-btn>
            </div>
            <div class="form-group col-sm-6">
                <label>上传Shapefile</label><br>
                <my-select-btn filetype="shp">
                    <span class='glyphicon glyphicon-folder-open'></span> <span>&nbsp;&nbsp;.shp文件</span>
                    <input name='shp' id="shp" type='file' style='display:none' class='openfile'/>
                </my-select-btn>
                <br>
                <my-select-btn filetype="dbf">
                    <span class='glyphicon glyphicon-folder-open'></span> <span>&nbsp;&nbsp;.dbf文件</span>
                    <input name='dbf' id="dbf" type='file' style='display:none' class='openfile'/>
                </my-select-btn>
            </div>
            <input type="text" style="display: none"  name="user_id" ng-model="user_id">
            <input type="text" style="display: none"  name="user_name" ng-model="user_name">
            <button class="btn btn-success btn-block" type="submit">
              <span class="glyphicon glyphicon-open">
              </span><span>&nbsp;&nbsp;上传</span>
            </button>
        </form>
    </div>
</div>