html, body{
	position: relative;
	margin:0px;
	padding: 0px;
	height:100%;
	font-family: "微软雅黑","Arial";
	background-color: #f3f3f3;
}
a{text-decoration: none;color:#fff;}
hr{border: none;border-bottom: 1px #333 solid;margin: 0 auto;padding: 0;}
p{margin: 0;padding: 0}
ul,li{list-style: none;padding: 0;margin:0;}
hr{
	border:none;
	border-bottom:1px solid #BFC6CE;
	margin:15px 0;
}
.c333{color:#333;}
.c999{color:#999;}
.ceee{color:#eee;}

.db{display: block;}
.dib{display: inline-block;}

.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}

.pr{position: relative;}
.pa{position: absolute;}
.pf{position: fixed;}

.tc{text-align: center}
.tl{text-align: left}
.tr{text-align: right}


.boxShadow{
	box-shadow: 0px 1px 2px 1px #ddd;
}
.image-wrap{
  overflow: hidden;
}
.image-wrap img{max-width: 100%;width: 100%;}
.nav-active{
	color: #fff !important;
}
::-webkit-scrollbar  
{  
    width: 4px;  
    /*height: 16px;  */
    background-color: #F5F5F5;  
}  